:root { --main-color: #21313a; --font-family:"Titillium Web" sans-serif; }
body { background-color: var(--main-color); }
::shadow { color: rgba(0, 0, 0, 0.5); }
navbar { background-color: var(--main-color); }
.bg-color { background-color: var(--main-color); border: 2px solid #24353f; }
style { list-style-type: none; color: #6c757d; }
.btn-hm-color { color: #b6b6b6; text-decoration: none; }

/* a { text-decoration: none; } */
.h1-tips { font-size: 40px; font-weight: 500; }
